[flake8]
ignore =
    I001,
    I003,
    I004,
    I005,
    W503
    R503,
    R504
exclude =
    tests/,
    */migrations/,
    venv/,
    env/
per-file-ignores =
    */settings.py:E501
max-complexity = 10

[isort]
profile=black
src_paths = foodgram-project-react
line_length=79
multi_line_output=3
include_trailing_comma = True
force_grid_wrap=0
use_parentheses=True
ensure_newline_before_comments=True
lines_between_sections=1
lines_between_types=1
known_third_party = django
known_first_party = users, recipes
